# Traefik
DUCKDNS_DOMAIN=

# Authentik
AUTHENTIK_SECRET_KEY=
AUTHENTIK_HOST=
LDAP_OUTPOST_TOKEN=

# PostgreSQL
AUTHENTIK_POSTGRESQL__HOST=
AUTHENTIK_POSTGRESQL__PORT=
AUTHENTIK_POSTGRESQL__NAME=
AUTHENTIK_POSTGRESQL__USER=
AUTHENTIK_POSTGRESQL__PASSWORD=

# Redis
AUTHENTIK_REDIS__HOST=
AUTHENTIK_REDIS__PORT=
